{% load widget_tweaks %}
{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}

{% for field in form.visible_fields %}
<div class='col-xl-4 col-lg-4 col-md-4 col-sm-6  '>
    <div class="form-group">
        {{ field.label_tag }}
        {% if field.field.widget.input_type == 'select' %}
            {% render_field field class="form-select"%}
        {% else %}
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
            {% endif %}
            {% endif %}
            
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    