<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " >
    <link rel="stylesheet" href=" {% static 'css/login.css' %} " >
    <title>RETHI</title>
</head>                    
 <body class="text-center">
       {% if form.errors %}
        <div class="col-md-4 offset-md-3 alert alert-danger alert-dismissible fade show" role="alert">
          <small>Usuário e senha incorretos, tente novamente!</small>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endif %}
    <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}    
     <a href=" {% url 'login' %} " >
        <img class="mb-4" src="{% static 'img/icon.png'  %}" alt="" width="72" height="72">
        <span class='title'>EneaMapper</span>
    </a>
    <div class="sub-title">
        Decida seu futuro junto com <strong>EneaMapper</strong>
    </div>
      {% comment %} {{ form.username|add_class:'form-control'|attr:"placeholder:Entre com seu Usuario"  }} {% endcomment %}
      <input type="text" id="username" name="username" class="form-control" placeholder="Entre com seu Usuario" required autofocus> 
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Digite sua senha" required>
      {% comment %} {{ form.password|add_class:'form-control'|attr:"placeholder:Digite sua senha" }} {% endcomment %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar sua conta</button>
      <p class="mt-5 mb-3">&copy;VNCSISTEM 2021</p>
    </form>
     <script src=" {% static 'js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>

