/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 115px;
  border-bottom: 1px solid rgba(0,0,0,.1)
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mdl-user-title{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdl-user{
  margin-left: 5% !important
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.full-width {
  width: 100%;
}

.mdl-data-table {
  table-layout:fixed;
  width:100%; 
}
#my-table td, th {
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}

/* unrelated to responsive table css */
#my-table{
margin-top:24px;
}
.material-icons {
vertical-align: -25%;
}
.mdl-data-table th, td{
text-align: left !important;
}
.center{
text-align:center;
}

.mdl-paging {
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdl-paging > * {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.mdl-list + .mdl-paging {
  margin: 0;
}

.mdl-paging__per-page {
  position: relative;
}

.mdl-paging__per-page-label {
  margin-right: 40px;
}

.mdl-paging__per-page-value {
  position: absolute;
  right: 36px;
  top: 6px;
}

.mdl-paging__per-page + .mdl-paging__count {
  margin-left: 24px;
}

.mdl-paging .mdl-menu {
  min-width: 64px;
}

.mdl-paging__prev:last-child {
  margin-right: 44px;
}

.mdl-paging__count + .mdl-paging__prev {
  margin-left: 24px;
}

.mdl-paging__prev + .mdl-paging__next {
  margin-left: 12px;
}

.mdl-paging__count + .mdl-paging__next {
  margin-left: 68px;
}

/* Speed dial */

.mdl-speed-dial {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
bottom: 16px;
right: 16px;
-webkit-flex-flow: column-reverse nowrap;
-ms-flex-flow: column-reverse nowrap;
flex-flow: column-reverse nowrap;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
z-index: 999;
position: fixed;
}

.mdl-speed-dial .mdl-button--fab:first-child .material-icons:not(:only-child),
.mdl-speed-dial .mdl-button--mini-fab {
transition-duration: 0.2s;
transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
-webkit-transform-origin: center center;
transform-origin: center center;
}

.mdl-speed-dial .mdl-button--fab:first-child .material-icons:not(:only-child),
.mdl-speed-dial .mdl-button--mini-fab {
transition-property: -webkit-transform, opacity;
transition-property: transform, opacity;
will-change: transform, opacity;
}

.mdl-speed-dial.is-active .mdl-button--fab:first-child .material-icons:first-child,
.mdl-speed-dial .mdl-button--fab:first-child .material-icons:nth-child(2) {
opacity: 0;
}

.mdl-speed-dial.is-active .mdl-button--fab:first-child .material-icons:first-child {
transform: rotate(90deg) translate(-12px, 12px);
}

.mdl-speed-dial .mdl-button--fab:first-child .material-icons:nth-child(2) {
transform: rotate(-90deg);
top: 16px;
left: 16px;
}

.mdl-speed-dial.is-active .mdl-button--fab:first-child .material-icons:nth-child(2) {
opacity: 1;
transform: rotate(0deg);
}
/* Mini floating buttons */

.mdl-speed-dial .mdl-button--mini-fab {
-webkit-transform: scale(0, 0);
transform: scale(0, 0);
margin-bottom: 16px;
}

.mdl-speed-dial.is-active .mdl-button--mini-fab {
-webkit-transform: scale(1, 1);
transform: scale(1, 1);
}
/* Mini floating buttons animations */

.mdl-speed-dial .mdl-button--mini-fab:nth-of-type(6),
.mdl-speed-dial.is-active .mdl-button--mini-fab:nth-of-type(2) {
transition-delay: 0s;
}

.mdl-speed-dial .mdl-button--mini-fab:nth-of-type(5),
.mdl-speed-dial.is-active .mdl-button--mini-fab:nth-of-type(3) {
transition-delay: 50ms;
}

.mdl-speed-dial .mdl-button--mini-fab:nth-of-type(4) {
transition-delay: 100ms;
}

.mdl-speed-dial .mdl-button--mini-fab:nth-of-type(3),
.mdl-speed-dial.is-active .mdl-button--mini-fab:nth-of-type(5) {
transition-delay: 150ms;
}

.mdl-speed-dial .mdl-button--mini-fab:nth-of-type(2),
.mdl-speed-dial.is-active .mdl-button--mini-fab:nth-of-type(6) {
transition-delay: 200ms;
}



div.mdl-card {
  width: 440px;
  margin: 0 auto;
}

div.mdl-card__supporting-text {
  font-size: 1.2em;
}

/* Table Sorting */
input + table {
  margin-top: 1em;
}

th.sort {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 75px;
}
th.sort:hover {
  cursor: pointer;
  text-decoration: none;
}
th.sort:focus {
  outline: none;
}
th.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
th.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}
th.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}

.margin0{
  margin: 2px !important;
  width:  100% !important;
}
.left{
  float: left !important;
  position: relative !important;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}