{% load static %}
{% block content %}
<header class="demo-drawer-header">
    <span class="mdl-layout-title mdl-user-title"><strong>EneaMapper</strong></span>
    <div class="demo-avatar-dropdown">
    <img src="{% static 'img/user.jpg' %}" class="demo-avatar">
    <span class="mdl-user">{{ user.username }}</span>
    <div class="mdl-layout-spacer"></div>
    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item"><a href="{% url 'logout' %}"><i class="material-icons">logout</i>Sair...</a></li>
    </ul>
    </div>
</header>

{% endblock  %}