{% block content %}
        <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
            </ul>
          </div>
        </footer>
{% endblock %}
