{% block content %}
<header class="demo-header mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Home</span>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>

{% endblock  %}