<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>SALUS CONSULTORIA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'curriculo/assets/img/favicon.ico' %} ">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/price_rangs.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'curriculo/assets/css/style.css' %}">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'curriculo/assets/img/logo/logo.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
   {% block content %}{% endblock  %}
  <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
		<script src="{% static 'curriculo/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
        <script src="{% static 'curriculo/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'curriculo/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'curriculo/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/slick.min.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/price_rangs.js' %}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'curriculo/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'curriculo/assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'curriculo/assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'curriculo/assets/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'curriculo/assets/js/contact.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'curriculo/assets/js/plugins.js' %}"></script>
        <script src="{% static 'curriculo/assets/js/main.js' %}"></script>
        
    </body>
</html>