{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} <h2 style="margin-bottom: 0px;">useritação</h2> {% endcomment %}
<section class="mdl-grid" id="my-table" style="padding-top: 0px;margin-top: 0px;">
    <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
        <table id="mdl-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
            <div class="mdl-paging"><span class="mdl-paging__per-page">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded is-focused">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                                <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input search" type="text" id="sample6">
                                <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                </div>
            </div>
            <thead>
                <tr>
                    {% comment %} <th class="mdl-data-table__cell--non-numeric">Foto</th>
                    <th>Participante</th> {% endcomment %}
                     <th>E-mail</th>
                     <th>Empresa</th>
                     <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% if listar %}
                <tbody >
                    {% for list in listar %}
                        <tr>
                            {% comment %} <td>{{ list.foto }}</td>
                            <td>{{ list.participante }}</td> {% endcomment %}
                            <td>{{ list.email }}</td>
                            <td>{{ list.empresa }}</td>
                            {% if list.questionario  %}
                                <td>Respondido</td>
                            {% else %}
                                 <td>Aguardando</td>
                            {% endif %}
                            <td>
                                <a href="" class="mdl-button mdl-js-button mdl-button--icon" title='Relatorio do Participante'>
                                <i class="material-icons">description</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            {%else%}
                    <tr>
                     </td span=3>
                        <p>useritações nao encontrada</p>
                     </td>
                 </tr>    
            {% endif %}
            <tfoot>
            <tr>

                <td colspan='8'>{% include 'partials/_paginacao.html' %}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</section>
 <a href="{% url 'create_participante' %}" id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
 <i class="material-icons">add</i>
 </a>  
{% endblock  %}
